.Hero {
    background-color: rgb(249, 212, 112);
}

.HeroContainer {  
    text-decoration: none;
    background: rgb(255, 247, 212);
    display: flex;
    justify-content: center;
    position: relative;
    padding: 80px 30px;
    @media (max-width: 960px) {
        padding: 66px 16px;
    }
    @media (max-width: 640px) {
        padding: 32px 16px;
    }
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
}

.HeroBg {
    position: absolute;
    display: flex;
    justify-content: end;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1360px;
    overflow: hidden;
    padding: 0 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    @media (max-width: 960px) {
        justify-content: center;
        padding: 0 0px;
    }
}

.HeroInnerContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;

    @media (max-width: 960px) {
        flex-direction: column;
    }
}

.HeroLeftContainer {
    width: 100%;
    order: 1;
    @media (max-width: 960px) {
    order: 2;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    @media (max-width: 640px) {
        order: 2;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.TextLoop {
    font-weight: 600;
    font-size: 32px;
    display: flex;
    gap: 12px;
    color: rgb(27, 66, 66);
    line-height: 68px;
    @media (max-width: 960px) {
      text-align: center;
    }
    @media (max-width: 640px) {
      font-size: 22px;
      line-height: 48px;
      margin-bottom: 16px;
    }
}

.Span {
    color: rgb(255, 152, 0);
    cursor: pointer;
}

.SubTitle {
    font-family: Andale Mono, monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 42px;
    color: rgb(27, 66, 66);

    @media (max-width: 960px) {
        text-align: center;
    }

    @media (max-width: 640px) {
        font-size: 16px;
        line-height: 32px;
    }
}

.ResumeButton {
    border : 2.5px solid rgb(45, 44, 53);
    color:rgb(255,255,255);
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(0, 0, 0,0.3);
    width: 80%;
    max-width: 200px;
    padding: 14px 0; /*adjust height*/
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    
    @media (max-width: 768px) {
        padding: 12px 0;
        font-size: 18px;
    } 
}


.ResumeButton:hover{
    background: rgb(255, 255, 255);
    color: rgb(238, 199, 89) ;  
}

.GitHubButton {
    margin-left: 20px;
    border : 2.5px solid rgb(45, 44, 53);
    color:rgb(255,255,255);
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(0, 0, 0,0.3);
    width: 80%;
    max-width: 200px;
    padding: 14px 0px; /*adjust height*/
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    
    @media (max-width: 768px) {
        margin-left: 0px;
        margin-top: 20px ;
        padding: 12px 0;
        font-size: 18px;
    } 
}


.GitHubButton:hover{
    background: rgb(255, 255, 255);
    color: rgb(238, 199, 89) ;  
}


.HeroRightContainer {
    width: 100%;
    display: flex;
    order: 2;
    justify-content: end;
    gap: 12px;
    @media (max-width: 960px) {
      order: 1;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
    }
  
    @media (max-width: 640px) {
      margin-bottom: 30px;
    }
}

.Image {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 450px;
    border-radius: 50%;
    border: 3.5px solid rgb(12, 53, 106);

    @media (max-width: 768px) {
        max-width: 400px;
        max-height: 400px;
    }

    @media (max-width: 640px) {
        max-width: 280px;
        max-height: 280px;
    }
}