.EF {
    background-color:  rgb(180, 192, 142);
}

.EContainer {
    background-color: rgb(255, 247, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;
    padding: 0px 0px 60px 0px;  
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);

}

.EWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
    padding: 40px 0px 0px 0px;
    gap: 12px;
    @media (max-width: 960px) {
        flex-direction: column;
    }
}

.ETitle {
    font-family: cursive;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    color: rgb(27, 66, 66);
    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.EdDescription {
    font-size: 18px;
    text-align: left;
    max-width: 600px;
    color: rgb(0, 0, 0);
    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.ETimeLineSection {
    width: 100%;
    max-width: 1000px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    @media (max-width: 660px) {
        align-items: end;
    }
}

